body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #352b48;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cal-container{
	border: 15px solid #fff;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    background: #fff;
	display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}
.calender {
    position: relative;
    background: #fff;
    display: inline-block;
    width: 450px;
    height: 450px;
}
.calender .date {
    width: 400px;
    padding: 30px;
    box-sizing: border-box;
}
.calender .date h3 {
    margin: 0 0 20px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
.calender .date .days {
    display: flex;
    flex-wrap: wrap;
}
.calender .date .days .day, .calender .date .days .number {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calender .date .days .day:first-child, .calender .date .days .number:nth-child(7n+1){
    color: #f44336;
    font-weight: 600;
}
.calender .date .days .number.active {
    background-color: #352b48;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
}
.cal-image img {
    width: 300px;
    object-fit: cover;
}
@media only screen and (max-width:500px) {
    .calender, .image {
      width: 100%; 
    }
    .cal-container{
    	flex-direction: column;
    }
}
    